<launch>
    <arg name="use_robot"           default="false"/>
    <arg name="camera_topic"        default="/misty/id_0/camera/color/image_raw"/>
    <arg name="use_s2t"             default="true"/>
    <arg name="use_tts"             default="true"/>
    <arg name="audio_device_idx"    default="7"/>
    <arg name="audio_sample_rate"   default="48000"/>

    <arg name="condition"           default="copilot"/>

    <group if="$(arg use_robot)">
        <include file="$(find misty_wrapper)/launch/misty.launch" pass_all_args="true"></include>
        <node pkg="gaze_tracking_ros" type="gaze_tracker.py" name="gaze_tracker">
            <remap from="image_raw" to="$(arg camera_topic)" />
        </node>
    </group>

    <group if="$(arg use_s2t)">
        <include file="$(find ros_speech2text)/launch/ros_speech2text.launch">
            <arg name="audio_device_idx" value="$(arg audio_device_idx)"/>
        </include>
    </group>

    <node name="cpp_editor_node" pkg="robo_copilot" type="tk_editor.py" output="screen"/>

    <group unless="$(eval condition == 'control')">
        <node name="gaze_follower" pkg="robo_copilot" type="gaze_follower.py" output="screen"/>
        <node name="feedback_gen" pkg="robo_copilot" type="feedback_gen.py" output="screen"> -->
            <param name="condition" value="$(arg condition)"/>
        </node>
    </group>

</launch>